xterm*faceName: JetBrains Mono
xterm*faceSize: 12
xterm*activeIcon: false
! special
*.foreground:   #b9b9b9
*.background:   #000000
*.cursorColor:  #808080
! black
*.color0:       #000000
*.color8:       #2e2e2e
! red
*.color1:       #C97E8D
*.color9:       #C0856E
! green
*.color2:       #70A05E
*.color10:      #43A47B
! yellow
*.color3:       #AE8F55
*.color11:      #93984E
! blue
*.color4:       #6598C3
*.color12:      #948CC7
! magenta
*.color5:       #B481BE
*.color13:      #C67CAA
! cyan
*.color6:       #09A599
*.color14:      #2CA1B2
! white
*.color7:       #6f6f6f
*.color15:      #b9b9b9
